@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* { 
    padding: 0 ;
    margin : 0 ;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;    
}

body {
    background-color: rgb(24, 26, 27);
    color:white;
}

/* Header */

.nav-link {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
}

.navbar-nav {
    text-align: center;
}

/* Efecto De Navbar */

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline:none;
    box-shadow: none;
    border:0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity : 0;
    filter: alpha(opacity=0);
}

.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}

.middle-bar {
    margin-top: 0px;

}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ff0000;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.navbar-toggler.collapsed .toggler-icon {
    background: linear-gradient(263deg, #ff0000 0%, rgb(38, 0, 255) 100%);
}

/* Catalogo */

.card {
    background-color: rgb(56, 56, 56);
    text-align: center;
}

.card h5 {
    font-weight: bold;
}

